<div class="center">

<div class="article_list">
  <% @articles.each_with_index do |article, index| %>
    <ul class="post_info">
        <li style="font-weight:bold"><a href="<%= article.url %>" target="_blank"><%="" + (index + 1).to_s + ". " + article.title %></a></li>

        <li class="li_below_title"><%= article.user.email %>
           |
            <%="Created " + (article.created_at.hour - Time.now.hour).to_s + " hours ago"%>
        </li>
    </ul>
  <% end %>
</div>

<div id="post_new_button">
  <form action="/articles" method="POST">
    title: <input type="text" name="article[title]"><br>
    url: <input type="text" name="article[url]"><br>
    tags: <input type="text" name="tags"><br>
    <input type="submit">
  </form>
</div>

</div>
